@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

body {
  background-color: black;
  color: white;
  margin: 0 auto;
  width: 100%;
}

#root {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.timeline {
  flex: 0 0 800px;
  font-family: "Inter", sans-serif;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
  width: 45%;
}

.header {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2f3336;
}

.top-tweets {
  width: 1.5rem;
  height: auto;
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.tweet-editor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 0.3rem 1rem;
  border-bottom: 1px solid #2f3336;
}

.avatar {
  flex: 0 0 70px;
  /*padding: 0 rem;*/
}

.avatar img {
  max-width: 100%;
  max-height: 100px;
  border-radius: 100%;
}

.tweet-editor-form {
  flex: auto;
}

.tweet-editor-input {
  height: 60px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  background-color: black;
  color: white;
  resize: none;
  padding: 10px 0 0 0;
  margin: 13px 0;
}

.tweet-editor-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet-editor-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.tweet-editor-actions button {
  background-color: transparent;
  border: none;
}
.button {
  text-transform: capitalize;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 50px;
  background-color: #1d9bf0;
  color: white;
  font-size: 1rem;
}
.tweet {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #2f3336;
}

.tweet-avatar {
  flex: 0 0 70px;
}

.tweet-avatar img {
  max-width: 100%;
  max-height: 100px;
  border-radius: 100%;
}
.tweet-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  width: 100%;
}
.tweet-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.tweet-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  font-size: 1rem;
}

.tweet-title svg {
  width: 1.2rem;
  height: auto;
}
.tweet-title-author {
  font-size: 1rem;
}
.tweet-title-details {
  color: #6e767d;
}
.tweet-text {
  color: #d9d9d9;
  font-size: 1rem;
}

.tweet-image {
  width: 100%;
  padding: 0.3rem 0 0 0;
}

.tweet-image img {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
  border-color: #2f3336;
  border-style: solid;
  border-width: 1px;
}

.tweet-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  color: grey;
  font-size: 1rem;
}
.tweet-actions svg {
  width: 1rem;
  height: auto;
  color: #2f3336;
}

.tweet-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 75px;
}

/*NavBar style*/
.sidebar {
  margin: 0.32rem 3.4rem;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
}
.sidebar ul {
  list-style: none;
}
.sidebar ul li{
  list-style: none;
  text-decoration: none;
}

.navigation-list {
  list-style: None;
  display: flex;
  flex-direction: column;
  gap: 0.43rem;
}
.navigation-list button {
  margin-top: 1.5rem;
  text-align: center;
}
.button:hover {
  background-color: #109bf867;
  cursor: pointer;
}
.navigation {
  display: flex;
  gap: 0.6rem;
  border-radius: 3rem;
  padding: 0.25rem 0.6rem;
  
}
.navigation-link{
  text-decoration: none;
  color: #d9d9d9;
}
.navigation:hover {
  background-color: #2023277c;
  cursor: pointer;
}
.user {
  display: flex;
  margin-top: 7.5rem;
  justify-content: space-evenly;
  align-items: center;
  padding:0.4rem 0.6rem;
}
.user:hover {
  background-color: #2023277c;
  cursor: pointer;
  border-radius: 3rem;
}
.profile-user {
  flex: 0 0 2.8rem;
}

.user-id-author {
  display: flex;
  gap: 0.5rem;
}
.user-id h3, p{
  font-size: small;
}
.user-id-author img{
  width: 25%;
  height: 25%;
}
.user-id-details {
  color: #6e767d;
}
.user-more-info {
  margin-left: 3rem;
}

/*Trends style*/

.trends {
  margin: 0.32rem 3.4rem;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.search-container{
  display: flex;
  align-items: center;
  gap:1.25rem;
  background-color:#202327;
  padding: 0.43rem;
  border-radius:3.125rem;
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}
.search-container  img{
  filter : hue-rotate(208deg) saturate(6%) brightness(46%);
  width: 9%;
}
.search-container Input{
  width: 100%;
  border: none;
  outline: none;
  background: none;
  color: #6E767D;
}
.trends-container, .follow{
  align-items: center;
  gap:1.25rem;
  background-color:#202327;
  padding: 0.43rem;
  border-radius: 0.8rem;
  margin-top: 1rem;
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}
.Trends-for-you{
  display: flex;
  justify-content: space-between;
}
.Trends-for-you h3{
  font-size: 1rem;
}

.trending{
  margin-top: 0.5rem;
}
.trending-container{
  display: flex;
  justify-content: space-between;
}
.squid{
  margin-top: 0.5rem;
}
.trending-text{
  color: #6E767D;
  margin-top: 0.5rem;
}
.show-more{
  margin-top: 1.8rem;
  font-size: small;
  color: #1d9bf0;
  text-decoration: none;
}
/*follow style*/
.follow{
  align-items: center;
  gap:20px;
  background-color:#202327;
  padding: 7px;
  border-radius: 12px;
  margin-top: 1rem;
  margin-left: -2.5rem;
  margin-right: -2.5rem;
  height: 50vh;
}
.follow-container{
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}
.follow-container .button{
  background:white;
  width: 23%;
  height: 2rem;
  padding-bottom: 1.5rem;
  color: black;
  font-size: 0.8rem;
  
}
.author-container {
  display: flex;
  gap: 0.5rem;
}


/*Profil Style*/
.profile-container{
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  gap: 1.25rem;
  border-bottom: 1px solid #2F3336;
}
.profile-banner{
  height: 6vh;
}
.profile-banner img{
  object-fit: contain;
  width: 100%;
}

.profile-photo-actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-actions{
  display: flex;
  justify-content: space-between;
  gap: 0.62em;;
}
.profile-actions .button{
 background: #d9d9d9;
 color: #202327;

 text-transform: capitalize;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 3.125rem;
  font-size: 0.8rem;
}
.profile-actions div:first-child{
  margin-top: 0.31rem;
}

.profile-infos{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  gap: 0.62rem;
}

.usernames h1{
  font-weight: bold;
  font-size : 1rem;
}
.usernames p{
  font-size : 0.9rem;
  color: #6E767D;
}

.profile-bio{
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
}

.additional-infos{
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 2.5rem;
  color:#6E767D;
  
}

.additional-infos div:first-child{
  color : #1D9BF0;
}

.followers{
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 2.5rem;
  color:#6E767D;
}
.followers span{
  color: white;
}

.profile-nav{
  margin-top: 1.87rem
}

.profile-nav ul{
  list-style : none;
  display: flex;
  justify-content: space-evenly;
}
.profile-nav li p{
  text-align: center;
}

.profile-nav li div{
  background-color: #1D9BF0;
  height: 10%;
}